@model IEnumerable<eBuy_elctronics_DB.Category>
@{
    ViewBag.Title = "eBuy Category";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
   
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <small>eBuy electronics</small>
                        </h1>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                   <div class="col-md-4 portfolio-item">
                        <a href="@Url.Action("CategoriesItems", "Categories", new { id = item.CategoryID })">
                            @if (item.CategoryImgUrl == null || item.CategoryImgUrl == "")
                            {
                                item.CategoryImgUrl = "no_image.jpg";
                            }
                            <img class="img-responsive" src="@Url.Content("~/images/CategoryLogos/" + item.CategoryImgUrl)" style="width:300px; height:200px;">
                        </a>
                        <label>@item.CategoryName</label>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
 <!-- Core Scripts - Include with every page -->
    <script src="@Url.Content("~/Content/bootstrap/js/jquery-1.10.2.js")"></script>